.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.input {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > input {
    width: calc(100% - 50px);
  }
}

.radio {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mintShapeForm {
  margin: 0 auto;

  & > label {
    display: flex;
    justify-content: center;
    gap: 8px;

    & > input {
      width: 40px;
    }
  }
}
