.tokenListWrapper {
  margin-top: 50px;
}

.tokenClaimForm {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  margin: 30px 0;

  label {
    width: 100%;
    display: flex;
    gap: 16px;
    height: 30px;
    line-height: 30px;

    input {
      flex: auto;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
