@import 'styles/palette';

.wrapper {
  border: 2px solid $waffle_brown;
  border-radius: 16px;
  padding: 16px 60px;
  margin-bottom: 24px;
  height: 200px;
  background-color: rgba($waffle_brown, 0.2);
  position: relative;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 8px rgba($waffle_black, 0.4);
  }

  .idLabel,
  .statusLabel,
  .buyLabel,
  .cancelLabel {
    position: absolute;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding-inline: 8px;
    cursor: pointer;
  }

  .idLabel {
    top: -2px;
    left: -2px;
    color: white;
    background-color: $waffle_black;
    border-radius: 16px 0 16px 0;
  }

  .statusLabel {
    top: -2px;
    right: -2px;
    background-color: $waffle_pink;
    border-radius: 0 16px 0 16px;
  }

  .buyLabel {
    bottom: -2px;
    right: -2px;
    background-color: rgb(28, 189, 238);
    border-radius: 16px 0 16px 0;
  }

  .cancelLabel {
    bottom: -2px;
    right: -2px;
    background-color: rgb(240, 79, 79);
    border-radius: 16px 0 16px 0;
  }

  .description {
    width: 100%;
    word-break: break-all;
    font-size: 14px;
    display: flex;

    & > strong {
      font-size: 16px;
      width: 100px;
      min-width: 100px;
      display: inline-block;
      margin-right: 16px;
    }
  }
}
