@import 'styles/palette';

.walletButton {
    color: $waffle_black;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    transition: all 0.5s;

    &::before,
    &::after {
        position: absolute;
        content: '';
    }

    &::before {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }

    &::after {
        background-color: $waffle_brown;
        transition: all 0.4s;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 20px;
    }

    &:hover::after {
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
    }

    &:hover::before {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 1s ease infinite;
    }

    p {
        position: relative;
        border-radius: 50%;
        pointer-events: none;
        z-index: 2;
        vertical-align: middle;
        font-weight: bold;
    }
}


@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}