@import 'styles/palette';

.walletButton {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 0 16px;
  align-items: center;
  gap: 8px;
  position: relative;
  height: 40px;
  width: 150px;
  display: flex;
  transition: all 0.3s;
  font-weight: bold;

  & > img {
    transition: all 0.3s;
    width: 30px;
  }

  & > span {
    width: 100%;
  }

  &.connected {
    color: $waffle_black;
    background-color: white;
  }

  &.disconnected {
    color: rgba($waffle_black, 0.6);
    background-color: #e4aa8e;

    & > img {
      filter: grayscale(100%);
    }
  }

  &:hover {
    box-shadow: 0 2px 4px rgba($waffle_black, 0.6);
  }
}
