@import 'styles/palette';

.wrapper {
  padding: 32px;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba($waffle_pink, 0.4);

  .description {
    position: absolute;
    top: 48px;
    right: 48px;
  }

  .previewList {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    gap: 20px;

    .preview {
      background-color: white;
      border: none;
      width: 150px;
      height: 150px;
      transition: 0.2s all;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.modalContent {
  width: 700px;
  height: 400px;
  margin: auto;

  border: 5px solid #b58259;
  background: bisque;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  padding: '10px 20px';
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50vw - 350px);
}

.loader {
  position: fixed;
  width: 100px;
  height: 100px;
  left: calc(50vw - 50px);
  top: calc(50vh - 20px);
}