.modalButton {
  // cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 300px;
  top: 500px;
  background-color: rgb(230, 154, 154);
  border: 3px solid #b58259;
}

.smallButton {
  cursor: pointer;
  border-radius: 10%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: burlywood;
  border: 3px solid #b58259;
}
