.wrapper {
  display: grid;
  grid-template-rows: minmax(0, 4fr) minmax(0, 1fr) minmax(0, 3fr);
  grid-template-columns: minmax(0, 4fr) minmax(0, 4fr);
  gap: 30px 40px;

  .tokenList,
  .goMarket {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
