@import 'styles/palette';


.header {
  display: flex;
  place-content: space-between;
  height: 60px;
  line-height: 60px;
  color: $waffle_black;
  box-shadow: 0 2px 4px $waffle_pink;
  background-color: $waffle_brown;
  padding-left: 20px;
  padding-right: 20px;
}

.header > .text {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  padding: 0;
  min-width: 320px;
}

.main {
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  height: calc(100vh - 60px);
  padding: 2rem 4rem;
  max-width: 1000px;
  min-width: 320px;
}

.footer {
}

