@import 'styles/palette';

.container{
  display: flex;
  flex-direction: row;
  padding: 20px
}

.smallButton {
  cursor: pointer;
  border-radius: 10%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: burlywood;
  border: 3px solid #b58259;

  &:hover {
    box-shadow: 0 1px 2px $waffle_black;
  }
}
