.waffle {
  background-color: rgb(221, 186, 137);
  height: 100%;
  width: 100%;

  display: grid;
  gap: 10px;

  .waffleBlock {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}

.loader {
  position: fixed;
  width: 100px;
  height: 100px;
  left: calc(50vw - 50px);
  top: calc(50vh - 20px);
}
